<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sinatra App</title>
    <%= css :app, :media => 'screen' %>
    <%= js :app %>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>